@import "colors"

.text-center
  text-align: center

.next
  text-decoration: none
  display: block
  text-align: center
  font-size: 48px

  &.white
    color: $white

  &.grey
    color: $grey

.more
  text-align: center
  display: inline-block
  font-size: 26px
  line-height: 87px
  height: 100px
  width: 100px
  text-decoration: none
  border-radius: 50%
  color: $black
  border: 6px solid $black

  &:hover
    text-decoration: underline

  &.white
    color: $white
    border-color: $white

  &.blue
    color: $blue
    border-color: $blue

  &.grey
    color: $grey
    border-color: $grey

.container
  margin-right: auto
  margin-left: auto
  padding-left: 15px
  padding-right: 15px

.container-fluid
  margin-right: auto
  margin-left: auto
  padding-left: 15px
  padding-right: 15px

.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after
  content: " "
  display: table

.clearfix:after,
.container:after,
.container:after,
.container-fluid:after
  clear: both

@media (min-width: 768px)
  .container
    width: 750px

@media (min-width: 992px)
  .container
    width: 970px

@media (min-width: 1200px)
  .container
    width: 1170px