@import "colors"

.menu
  width: 100%
  z-index: 2
  background: #ffffff
  padding: 15px

.menu-right
  flex: 1
  list-style-type: none
  display: flex
  justify-content: flex-end
  align-items: center
  text-align: center
  margin: 0

  a
    color: $black
    text-decoration: none

    &:hover,
    &:visited
      text-decoration: none

    &:hover
      color: $blue

  li
    padding: 15px

    &.active a
        color: $blue


.menu-logo
  height: 50px
  padding-bottom: 15px
  float: left

body.fp-viewing-papier-ou-numerique [data-menuanchor=integration-et-management] a
  color: $blue
