@import "colors"

*,
*:before,
*:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif

ul
  padding: 0

a
  color: $white

  &:hover,
  &:focus,
  &:visited
    outline: none

h2
  font-size: 48px
  font-weight: 100
  margin-top: 0
  line-height: 55px

h3
  font-size: 32px
  font-weight: 100

p
  font-size: 24px
  line-height: 28px

footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  z-index: 2
  height: 83px
  background: $white
  border-top: 1px solid transparentize($grey, .85)

input::-webkit-input-placeholder
  color: $white
  opacity: .7

input::-moz-placeholder
  color: $white
  opacity: .7

input::-moz-placeholder
  color: $white
  opacity: .7

input::-ms-input-placeholder
  color: $white
  opacity: .7

// ==================== MEDIA QUERIES ==================== //

@media (max-width: 1366px)
  h2
    font-size: 32px
    line-height: 40px

  h3
    font-size: 26px

  p
    font-size: 18px
    line-height: 22px

  footer
    height: 73px

@media (max-width: 768px)
  h2
    font-size: 20px
    line-height: 22px

  h3
    font-size: 16px
    line-height: 18px
  p
    font-size: 14px
    line-height: 16px
