@import "colors"

.integration-et-management,
.papier-ou-numerique
  background: $blue

.audit-et-expertise,
.dematerialisation,
.contact
  background: $grey

.gestion-projet,
.solutions-archivage
  background: $white

.optimisation-documents
  background: $blue
  color: $white

  .flex
    align-items: flex-end
    justify-content: center
    text-align: center
    padding-top: 30px

  .picto
    width: 100px
    height: 100px

  h3
    margin-top: 15px

.optimisation-durable
  background: $blue
  color: $white
  align-items: flex-end

  .flex-1
    position: relative
    text-align: right

    &:before
      position: absolute
      display: inline-block
      content: ''
      right: 155px
      top: 59px
      height: 8px
      background: $white
      width: 1000px

  h2
    margin-top: 0

  img
    width: 125px
    border: 10px solid $white
    margin: 0 30px 0 0
    border-radius: 50%

  .more
    float: right
