@import "colors"

.optimisation-documents,
.optimisation-durable,
.integration-et-management,
.papier-ou-numerique
  background: $blue

.audit-et-expertise,
.dematerialisation,
.contact
  background: $grey

.gestion-projet,
.solutions-archivage
  background: $white
